<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeDwL0cG6ncaULc6qAd4Og5ojHMhAo2NI</string>
	<key>GCM_SENDER_ID</key>
	<string>99519924561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kassapos.malevaios</string>
	<key>PROJECT_ID</key>
	<string>maleva-4eefb</string>
	<key>STORAGE_BUCKET</key>
	<string>maleva-4eefb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99519924561:ios:7ea348f390613fe5c4ab70</string>
</dict>
</plist>